<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>BLUEROSE najlepsza mafijna bojówka</title>
        <link rel="Stylesheet" type="text/css" href={{ asset('css/style.css') }} />


        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="{{ asset('js/jquery.tablesorter.min.js')}}"></script>
        <script src="{{ asset('js/widgets/widget-scroller.js')}}"></script>
    </head>

    <body>
        <center>
        <div id= "content">
            <div id="logo1"></div>
            <div id="logo2"></div>
            <div id="menu">
                <ul>
<li><a href="{{ path('chiave_scrobbler_citizens_frontend') }}">Statystyki</a></li>
<li><a href="{{ path('chiave_static', { slug: 'zbiorki'}) }}">Zbiórki</a></li>
<li><a href="{{ path('chiave_static', { slug: 'ranking'}) }}">Ranking</a></li>
<li><a href="{{ path('chiave_static', { slug: 'partia'}) }}">Partia</a></li>
<li><a href="{{ path('chiave_static', { slug: 'dolacz'}) }}">Dołącz do nas</a></li>
<li><a href="{{ path('chiave_static', { slug: 'dof'}) }}">Dofinansowanie</a></li>
<li><a href="{{ path('chiave_static', { slug: 'download'}) }}">Do pobrania</a></li>
<li><a href="{{ path('chiave_static', { slug: 'funrose'}) }}">Strefa FUNrose</a></li>
{# <li><a href="#">LOGOWANIE</a></li> #}
                </ul>
            </div>

            <div id="prawa_strona">
                <!-- Tutaj jest wstawiana treść z plików zewnętrznych -->
                {% block body %}{% endblock %}
            </div>

        <div class="both"></div>
        <div id="stopka">
            Copyright @BLUEROSE
        </div>

        <script>
            $(function() {
                $.tablesorter.addWidget({
                    // give the widget a id
                    id: "preserveFirstColumnNumeration",
                    // format is called when the on init and when a sorting has finished
                    format: function(table) {
                        // loop all tr elements and set the value for the first column
                        for(var i=1; i <= table.tBodies[0].rows.length; i++) {
                            $("tbody tr:eq(" + (i - 1) + ") td:first",table).html(i);
                        }
                    }
                });
            });
        </script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
