{% extends "::backendbase.html.twig" %}

{% block title %}Gracze{% endblock %}
{% block description %}lista aktualizacji gracza
    {{ citizen.history.nick }}{% endblock %}

    {% block active_name %}chiave_scrobbler_citizens{% endblock %}

    {% block body %}

        <table class="records_list">
            <thead>
                <tr>
                    <th></th>
                    <th>eday</th>
                    <th>nick</th>
                    <th>experience</th>
                    <th>strength</th>
                    <th>rankPoints</th>
                    <th>truePatriot</th>
                    <th>country</th>
                    <th>region</th>
                    <th>citizenship</th>
                    <th>nationalRank</th>
                    <th>partyId</th>
                    <th>partyName</th>
                    <th>militaryUnitId</th>
                    <th>militaryUnitName</th>
                    <th>smallBombs</th>
                    <th>bigBombs</th>
                    <th>lastUsedMsg</th>
                        {# <th>achievements</th> #}
                    <th>egovBattles</th>
                    <th>egovHits</th>
                    <th>egovInfluence</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for history in citizen.getAllHistory() %}
                    <tr>
                        <td>{{ loop.index }}

                            {% if history.citizen.history == history %}
                                - current
                            {% elseif history.citizen.history(1) == history %}
                                - previous
                            {% endif %}



                        </td>
                        <td>{{ history.eday }}</td>
                        <td>{{ history.nick }}</td>
                        <td>{{ history.experience }}</td>
                        <td>{{ history.strength }}</td>
                        <td>{{ history.rankPoints }}</td>
                        <td>{{ history.truePatriot }}</td>
                        <td>{{ history.country }}</td>
                        <td>{{ history.region }}</td>
                        <td>{{ history.citizenship }}</td>
                        <td>{{ history.nationalRank }}</td>
                        <td>{{ history.partyId }}</td>
                        <td>{{ history.partyName }}</td>
                        <td>{{ history.militaryUnitId }}</td>
                        <td>{{ history.militaryUnitName }}</td>
                        <td>{{ history.smallBombs }}</td>
                        <td>{{ history.bigBombs }}</td>
                        <td>{{ history.lastUsedMsg }}</td>
                        {# <td>{{ history.achievements }}</td> #}
                        <td>{{ history.egovBattles }}</td>
                        <td>{{ history.egovHits }}</td>
                        <td>{{ history.egovInfluence }}</td>
                        <td>{{ history.createdAt | date("d m Y H:i:s") }}</td>
                        <td>{{ history.updatedAt | date("d m Y H:i:s") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endblock %}
